version: '3.8'
services:
  blue:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${ECR_URI}/dearbelly-api:blue
    ports:
      - "8081:8080"
    env_file:
      - .env
    container_name: app_blue

  green:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${ECR_URI}/dearbelly-api:green
    ports:
      - "8082:8080"
    env_file:
      - .env
    container_name: app_green

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - blue
      - green
    container_name: nginx