services:
  dearbelly-api:
    image: ${ECR_URI}/dearbelly-api:latest
    ports:
      - "8080:8080"
    env_file:
      - /home/ubuntu/dearbelly-api/deploy/docker/.env
    volumes:
      - /home/ubuntu/logs:/app/logs
      - /home/ubuntu/dearbelly-api:/home/dearbelly
    networks:
      - mynetwork
    depends_on:
      - redis
    container_name: app-blue
    deploy:
      resources:
        limits:
          memory: 2g
    environment:
      JAVA_TOOL_OPTIONS: >
        -XX:+UseG1GC
        -XX:MaxRAMPercentage=65.0
        -XX:InitiatingHeapOccupancyPercent=30
        -XX:MaxGCPauseMillis=200
        -XX:+UseStringDeduplication
        -Xss512k
        -XX:MaxMetaspaceSize=256m

  redis:
    image: redis:7.4.1
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - /home/ubuntu/deploy/redis/redis-data:/data
      - /home/ubuntu/deploy/redis/redis.conf:/etc/redis/redis.conf
      - /var/log/redis:/var/log/redis:ro
    command: ["redis-server", "/etc/redis/redis.conf"]
    networks:
      - mynetwork
    restart: always

networks:
  mynetwork:
    driver: bridge

volumes:
  redis_data: