spring:
  config:
    activate:
      on-profile: "dev"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DEV_DB_URL}
    username: ${DEV_DB_USER}
    password: ${DEV_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  jwt:
    refresh:
      expiration: 2592000 # 24시간
    access:
      expiration: 2592000 # 1시간
    secret: ${JWT_SECRET_KEY}

  security:
    kakao:
      client_id: ${KAKAO_REST_API_KEY}
      redirect_uri: ${KAKAO_LOCAL_CALLBACK}
    naver:
      client_id: ${NAVER_API_KEY}
      redirect_uri: ${NAVER_LOCAL_CALLBACK}
      secret_key: ${NAVER_SECRET_KEY}
    google:
      client_id: ${GOOGLE_REST_API}
      redirect_uri: ${GOOGLE_LOCAL_CALLBACK}
      secret_key: ${GOOGLE_SECRET_KEY}
    hmac:
      family-secret: ${FAMILY_HMAC_SECRET}

  data:
    redis:
      host: ${DEV_REDIS_HOST}
      port: 6379
      password: ${REDIS_PASSWORD}

  cloud:
    aws:
      s3:
        bucket: ${AWS_S3_BUCKET}
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
        default-image: ${DEFAULT_IMAGE}

      region:
        static: ${AWS_REGION}
      stack:
        auto: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
  endpoint:
    health:
      show-components: always

openapi:
  base-url: ${DEV_DNS_SERVER}