spring:
  config:
    activate:
      on-profile: "dev"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DEV_DB_URL}
    username: ${DEV_DB_USER}
    password: ${DEV_DB_PASSWORD}

  jwt:
    refresh:
      expiration: 86400 # 24시간
    access:
      expiration: 3600 # 1시간
    secret: ${JWT_SECRET_KEY}

  security:
    kakao:
      client_id: ${KAKAO_REST_API_KEY}
      redirect_uri: ${KAKAO_LOCAL_CALLBACK}
    naver:
      client_id: ${NAVER_API_KEY}
      redirect_uri: ${NAVER_LOCAL_CALLBACK}
      secret_key: ${NAVER_SECRET_KEY}
    google:
      client_id: ${GOOGLE_REST_API}
      redirect_uri: ${GOOGLE_LOCAL_CALLBACK}
      secret_key: ${GOOGLE_SECRET_KEY}

  data:
    redis:
      host: ${DEV_REDIS_HOST}
      port: 6379

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

  cloud:
    aws:
      s3:
        bucket: ${AWS_S3_BUCKET}
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
        default-image: ${DEFAULT_IMAGE}

      region:
        static: ${AWS_REGION}
      stack:
        auto: false