spring:
  config:
    activate:
      on-profile: "local"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  jwt:
    refresh:
      expiration: 2592000 # 7일
    access:
      expiration: 2592000 # 30일
    secret: ${JWT_SECRET_KEY}

  security:
    kakao:
      client_id: ${KAKAO_REST_API_KEY}
      redirect_uri: ${KAKAO_LOCAL_CALLBACK}
    naver:
      client_id: ${NAVER_API_KEY}
      redirect_uri: ${NAVER_LOCAL_CALLBACK}
      secret_key: ${NAVER_SECRET_KEY}
    google:
      client_id: ${GOOGLE_REST_API}
      redirect_uri: ${GOOGLE_LOCAL_CALLBACK}
      secret_key: ${GOOGLE_SECRET_KEY}
    hmac:
      family-secret: ${FAMILY_HMAC_SECRET}

  data:
    redis:
      host: ${LOCAL_REDIS_HOST}
      port: 6379
      password: ${LOCAL_REDIS_PASSWORD}

  cloud:
    aws:
      s3:
        bucket: ${AWS_S3_BUCKET}
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
        default-image: ${DEFAULT_IMAGE}
        image-prefix: ${IMAGE_PREFIX}

      region:
        static: ${AWS_REGION}
      stack:
        auto: false

log:
  config:
    level: INFO
    path: ./logs

logging:
  level:
    root: INFO

external:
  filepath: ${LOCAL_FILE_PATH}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-components: always

openapi:
  base-url: http://localhost:8080

server:
  tomcat:
    mbeanregistry:
      enabled: true