spring:
  config:
    activate:
      on-profile: "local"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}

  jwt:
    refresh:
      expiration: 604800 # 7일
    access:
      expiration: 2592000 # 30일
    secret: ${JWT_SECRET_KEY}

  security:
    kakao:
      client_id: ${KAKAO_REST_API_KEY}
      redirect_uri: ${KAKAO_LOCAL_CALLBACK}
    naver:
      client_id: ${NAVER_API_KEY}
      redirect_uri: ${NAVER_LOCAL_CALLBACK}
      secret_key: ${NAVER_SECRET_KEY}
    google:
      client_id: ${GOOGLE_REST_API}
      redirect_uri: ${GOOGLE_LOCAL_CALLBACK}
      secret_key: ${GOOGLE_SECRET_KEY}

  data:
    redis:
      host: ${LOCAL_REDIS_HOST}
      port: 6379
      password: ${LOCAL_REDIS_PASSWORD}

  cloud:
    aws:
      s3:
        bucket: ${AWS_S3_BUCKET}
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
        default-image: ${DEFAULT_IMAGE}

      region:
        static: ${AWS_REGION}
      stack:
        auto: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

external:
  filepath: ${LOCAL_FILE_PATH}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-components: always
