services:
  dearbelly-api:
    image: ${ECR_URI}/dearbelly-api:green
    ports:
      - "8081:8080"
    env_file:
      - /home/ubuntu/dearbelly-api/.env
    volumes:
      - /home/ubuntu/dearbelly-api:/home/dearbelly
    networks:
      - mynetwork
    container_name: dearbelly-api-green

networks:
  mynetwork:
    driver: bridge

volumes:
  redis_data: