services:
  dearbelly-api:
    image: ${ECR_URI}/dearbelly-api:latest
    ports:
      - "8080:8080"
    env_file:
      - /home/ubuntu/dearbelly-api/deploy/.env
    volumes:
      - /home/ubuntu/logs:/app/logs
      - /home/ubuntu/dearbelly-api:/home/dearbelly
    networks:
      - mynetwork
    depends_on:
      - redis
    container_name: app-blue

  redis:
    image: redis:7.4.1
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - /path/to/redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - mynetwork
    restart: always

  prometheus:
    user: ${PROMETHEUS_USER}
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - /home/ubuntu/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /home/ubuntu/monitoring/volume:/prometheus/data
    ports:
      - 9090:9090
    command:
      - '--web.enable-lifecycle'
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=15d'
    restart: always
    networks:
      - mynetwork

  grafana:
    user: ${GRAFANA_USER}
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - /home/ubuntu/grafana/volume:/var/lib/grafana
    restart: always
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  redis_data: