name: Build and Deploy gradle

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-northeast-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        run: |
          docker build -t dearbelly-api .
          docker tag ppiyong:latest ${{ secrets.ECR_URI }}/dearbelly-api:latest
          docker push ${{ secrets.ECR_URI }}/dearbelly-api:latest


      - name: activate .env
        run: echo "${{ secrets.ENV }}" > .env

      - name: Build With Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew clean
          ./gradlew build -x test

  transfer:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Transfer docker-compose.yml file to ec2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./docker-compose.yml
          target: /home/ubuntu/dearbelly-api/

      - name: Transfer nginx directory file to ec2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./nginx/
          target: /home/ubuntu/

      # deploy.sh
      - name: Send deploy.sh
        uses: appleboy/scp-action@master
        with:
          username: ubuntu
          host: ${{ secrets.REMOTE_HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: ./deploy.sh
          target: /home/ubuntu/

  deploy:
    runs-on: ubuntu-22.04
    needs: transfer
    steps:
      - name: SSH into EC2 server and Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            mkdir -p ~/dearbelly-api
            cd ~/dearbelly-api
            
            echo "${{ secrets.ENV }}" > .env
            
            aws ecr get-login-password --region ap-northeast-2 | docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}

            export ECR_URI=${{ secrets.ECR_URI }}
            docker pull ${{ secrets.ECR_URI }}/dearbelly-api:latest

            export ORG_NAME=${{ secrets.ORG_NAME }}
            
            chmod 777 ./deploy.sh
            ./deploy.sh
            
            docker compose up -d --no-deps --force-recreate
            
            docker image prune -a -f