name: Build and Deploy gradle

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-northeast-2

      - name: Set active color (green or blue)
        id: color
        run: |
          ACTIVE_COLOR=$(ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ec2-user@${{ secrets.REMOTE_HOST }} \
            'docker ps --format "{{.Names}}" | grep app_green && echo green || echo blue')
          echo "ACTIVE_COLOR=$ACTIVE_COLOR" >> $GITHUB_ENV
          if [ "$ACTIVE_COLOR" == "green" ]; then
            echo "NEXT_COLOR=blue" >> $GITHUB_ENV
          else
            echo "NEXT_COLOR=green" >> $GITHUB_ENV
          fi

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1


      - name: Build With Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew clean
          ./gradlew build -x test

      - name: Build, tag, and push image to Amazon ECR
        run: |
          docker build -t dearbelly-api:${{ env.NEXT_COLOR }} .
          docker tag dearbelly-api:${{ env.NEXT_COLOR }} ${{ secrets.ECR_URI }}/dearbelly-api:${{ env.NEXT_COLOR }}
          docker push ${{ secrets.ECR_URI }}/dearbelly-api:${{ env.NEXT_COLOR }}

      - name: activate .env
        run: echo "${{ secrets.ENV }}" > .env

  transfer:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Transfer docker-compose.yml file to ec2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./docker-compose.yml
          target: /home/ubuntu/dearbelly-api/

      - name: Transfer nginx directory file to ec2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./nginx/
          target: /home/ubuntu/


  deploy:
    runs-on: ubuntu-22.04
    needs: transfer
    steps:
      - name: SSH into EC2 server and Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            mkdir -p ~/dearbelly-api
            cd ~/dearbelly-api
            
            echo "${{ secrets.ENV }}" > .env
            
            aws ecr get-login-password --region ap-northeast-2 | docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}

            export ECR_URI=${{ secrets.ECR_URI }}
            export NEXT_COLOR=${{ env.NEXT_COLOR }}
            
            docker pull ${{ secrets.ECR_URI }}/dearbelly-api:$NEXT_COLOR
            
            # proxy_pass 라인만 찾아서 변경
            sed -i "s/proxy_pass http:\/\/.*;/proxy_pass http:\/\/${NEXT_COLOR}_backend;/" /home/ubuntu/nginx/nginx.conf
      
            # nginx 설정 다시 로드
            docker exec nginx nginx -s reload
            docker compose up -d --no-deps --force-recreate
            
            docker image prune -a -f